form {
  background-color: lightgray;
  color: black;
  width: 500px;
  padding: 10px;
  text-align: center;
  border: 3px dashed black;

  fieldSet {
    border: none;
    display: flex;
    justify-content: space-between;

    input {
      width: 300px;
    }
  }

  button {
    margin: 10px;
    width: 200px;
    height: 40px;
  }
}
