.main {
  padding: 20px;

  .mode-icon {
    font-style: normal;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
}

.main.dark {
  background-color: #121212;
  color: white;
}
