.article-card {
  width: 500px;
  background-color: lightgray;
  color: black;
  border: 1px solid black;
  margin-top: 20px;
  padding: 20px;
  position: relative;

  .link {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
  }

  .fav-icon {
    font-style: normal;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      height: 30px;
    }
  }
}
